[Desktop Entry]
Type=Application
Version=1.0
Name=Install Velaris
Comment=Install Velaris OS to disk
Exec=/usr/bin/velaris-calamares
Icon=velaris-logo
Terminal=false
Categories=System;
Keywords=install;setup;installer;
X-KDE-RunOnDiscreteGpu=false
