[Desktop Entry]
Type=Application
Version=1.0
Name=Install Velaris
Comment=Install Velaris OS to disk
Exec=/usr/bin/pkexec /usr/bin/calamares
Icon=velaris-logo
Terminal=false
Categories=System;
Keywords=install;setup;
X-KDE-RunOnDiscreteGpu=false
