# Velaris — GRUB (BIOS legacy)
insmod part_gpt
insmod part_msdos

if [ -e "$prefix/grubenv" ]; then
  load_env
fi

default=0
timeout=5
timeout_style=menu

if loadfont "${prefix}/fonts/unicode.pf2"; then
  insmod all_video
  set gfxmode="auto"
  terminal_input  console
  terminal_output gfxterm
fi

# ─── Menu ─────────────────────────────────────────────────────────────────────
menuentry "Velaris (x86_64)" {
  set gfxpayload=keep
  linux  /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux-cachyos \
         archisobasedir=%INSTALL_DIR% \
         archisolabel=%ARCHISO_LABEL% \
         quiet splash loglevel=3
  initrd /%INSTALL_DIR%/boot/x86_64/initramfs-linux-cachyos.img
}

menuentry "Velaris (x86_64) — modo de acessibilidade" {
  set gfxpayload=keep
  linux  /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux-cachyos \
         archisobasedir=%INSTALL_DIR% \
         archisolabel=%ARCHISO_LABEL% \
         quiet splash accessibility=on
  initrd /%INSTALL_DIR%/boot/x86_64/initramfs-linux-cachyos.img
}

menuentry "Velaris (x86_64) — fallback" {
  set gfxpayload=keep
  linux  /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux-cachyos \
         archisobasedir=%INSTALL_DIR% \
         archisolabel=%ARCHISO_LABEL%
  initrd /%INSTALL_DIR%/boot/x86_64/initramfs-linux-cachyos-fallback.img
}

menuentry "Memtest86+" {
  linux  /%INSTALL_DIR%/boot/memtest86+/memtest.bin
}

if [ "${grub_platform}" = "efi" ]; then
  menuentry "Reboot" {
    reboot
  }
  menuentry "Shutdown" {
    halt
  }
fi
